terraform/.terraform.lock.hcl
terraform/.terraform/*
host.ini
terraform/terraform.tfstate
terraform/terraform.tfstate.d/*
terraform/terraform.tfstate.backup
env.sh
.terraform
.terraform.lock.hcl
*.zip
vars/secrets.yml
users/*
vars/ondemand-config.yml
tmp/pubkeys/*.pub
config/k8s-admin.conf
scratch-pad.md
__pycache__/
update-ondemand-config-and-terraform.sh
