site_name: NeSI Training Environment

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Overview: 'index.md'
  - Tutorials:
    - "JupyterLab app for Intermediate Shell for Bioinformatics": "tutorials/jupyterlab-app-for-intermediate-shell-for-bioinformatics.md"
  - Apps:
    - Overview: 'apps/index.md'
    - "Example: conda based JupyterLab app for ML101": 'apps/example-conda-jupyterlab-ml101.md'
    - "Example: venv based JupyterLab app for ML102": 'apps/example-venv-jupyterlab-ml102.md'
    - "Example: RStudio based app for RNA-Seq": 'apps/example-rstudio-rna-seq.md'
  - Deployment: 'deployment.md'
  - Notes for trainers: 'notes-for-trainers.md'
  - Troubleshooting: 'troubleshooting.md'

theme:
  name: "material"
