---
kubernetes_version: v1.26.7
capi_image_name: ubuntu-2204-kube-v1.26.7-ca

capi_provider_version: v0.8.0

cluster_name: capi-cluster
cluster_namespace: default

openstack_ssh_key: kahus-key

cluster_control_plane_count: 1
control_plane_flavor: balanced1.2cpu4ram

cluster_worker_count: 2
worker_flavour: balanced1.2cpu4ram

cluster_node_cidr: 10.10.0.0/24

cluster_pod_cidr: 192.168.0.0/16

bin_dir: /usr/local/bin

tmp_dir: "/tmp/{{ cluster_name }}"

clouds_yaml_local_location: ~/.config/openstack/clouds.yaml
clouds_yaml_location: "{{ tmp_dir }}/clouds.yaml"

kube_config_local_location: ~/.kube/config
kube_config_location: "~/.kube"

yq_version: v4.2.0 
yq_repo: "https://github.com/mikefarah/yq/releases/download/{{ yq_version }}/yq_linux_amd64"

ca_cert_dir: /usr/local/share/ca-certificates
ca_cert_file: "{{ ca_cert_dir }}/zero_ca.crt"

## Variables for OpenID Connect Configuration https://kubernetes.io/docs/admin/authentication/
## To use OpenID you have to deploy additional an OpenID Provider (e.g Dex, Keycloak, ...)

kube_oidc_auth: true
kube_oidc_hostname: ood-idp.training.data.nesi.org.nz
kube_oidc_url: https://{{ kube_oidc_hostname }}/realms/ondemand
kube_oidc_client_id: kubernetes
## Optional settings for OIDC
kube_oidc_username_claim: preferred_username
kube_oidc_username_prefix: "-"
kube_oidc_groups_claim: groups
kube_oidc_groups_prefix: 'oidc:'
# Copy oidc CA file to the following path if needed
kube_oidc_ca_file: "{{ ca_cert_file }}"