---
- name: Full system upgrade
  dnf:
    update_cache: yes
    
- name: Install LDAP client packages
  dnf:
    name:
      - nss-pam-ldapd
    state: present
    
- name: Configure nslcd uri
  lineinfile:
    path: /etc/nslcd.conf
    regexp: '^uri'
    line: 'uri ldap://{{ hostvars["servicesnode"]["ansible_default_ipv4"]["address"] }}/'
  notify: restart nslcd

- name: Configure basedn
  lineinfile:
    path: /etc/nslcd.conf
    regexp: '^base'
    line: 'base {{ ldap_base_dn }}'
  notify: restart nslcd

- name: Configure passwd in nsswitch.conf
  lineinfile:
    path: /etc/nsswitch.conf
    regexp: '^passwd:'
    line: 'passwd: files systemd ldap'

- name: Configure group in nsswitch.conf
  lineinfile:
    path: /etc/nsswitch.conf
    regexp: '^group:'
    line: 'group: files systemd ldap'

- name: Configure passwd
  replace:
    path: /etc/pam.d/passwd
    regexp: '(use_authtok\s*)'
    replace: ''

- name: Configure password-auth
  replace:
    path: /etc/pam.d/password-auth
    regexp: '(use_authtok\s*)'
    replace: ''

- name: Enable service nslcd, and start
  ansible.builtin.service:
    name: nslcd
    enabled: yes
    state: started