---
- name: Copy sshd config that denies training users
  ansible.builtin.copy:
    src: sshd_deny_training_users.conf
    dest: /etc/ssh/sshd_config.d/deny_training_users.conf
    owner: root
    group: root
    mode: '0644'
  register: sshd_config

- name: Reload sshd if config changed
  ansible.builtin.service:
    name: ssh
    state: reloaded
  when: sshd_config.changed

- name: Create locales directory
  ansible.builtin.file:
    path: /etc/ood/config/locales
    state: directory
    mode: '0755'

- name: Copy locales override file
  ansible.builtin.copy:
    src: locales_en.yml
    dest: /etc/ood/config/locales/en.yml
    owner: root
    group: root
    mode: '0644'

- name: Copy NeSI logo
  ansible.builtin.copy:
    src: nesi.svg
    dest: /var/www/ood/public/nesi.svg
    owner: root
    group: root
    mode: '0644'

- name: Copy NeSI ondemand customisations file
  ansible.builtin.copy:
    src: ondemand_nesi.yml
    dest: /etc/ood/config/ondemand.d/nesi.yml
    owner: root
    group: root
    mode: '0644'

- name: Copy announcement file
  ansible.builtin.copy:
    src: announcement.md
    dest: /etc/ood/config/announcement.md
    owner: root
    group: root
    mode: '0644'

- name: Apache mpm event configuration
  ansible.builtin.template:
    src: mpm_event.conf.j2
    dest: /etc/apache2/mods-available/mpm_event.conf
    owner: root
    group: root
    mode: '0644'
  register: apache_mpm_event_config

- name: Reload apache service
  ansible.builtin.service:
    name: apache2
    state: restarted
  when: apache_mpm_event_config.changed

- name: Setup sudoers rule for listing running pods
  community.general.sudoers:
    name: trainers-get-pods
    state: present
    group: trainers
    commands:
      - /usr/local/bin/kubectl get pods -A
      - /usr/local/bin/kubectl get pods -A -o wide

- name: Copy nesi-get-pods script
  ansible.builtin.copy:
    src: nesi-get-pods.sh
    dest: /usr/local/bin/nesi-get-pods
    owner: root
    group: root
    mode: '0755'

- name: Copy nesi-get-pods-wide script
  ansible.builtin.copy:
    src: nesi-get-pods-wide.sh
    dest: /usr/local/bin/nesi-get-pods-wide
    owner: root
    group: root
    mode: '0755'
