apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: prepuller
spec:
  selector:
    matchLabels:
      name: prepuller
  template:
    metadata:
      labels:
        name: prepuller
    spec:
      # Configure an init container for each image you want to pull
      initContainers:
        - name: prepuller-utils
          image: ghcr.io/nesi/training-environment-k8s-utils:v0.1.0
          command: ["sh", "-c", "'true'"]
{% for item in ood_enabled_apps %}
        - name: prepuller-{{ item.name }}
          image: {{ item.container_url }}
          command: ["sh", "-c", "'true'"]
{% endfor %}
      
      # Use the pause container to ensure the Pod goes into a `Running` phase
      # but doesn't take up resource on the cluster
      containers:
        - name: pause
          image: gcr.io/google_containers/pause:3.2
          resources:
            limits:
              cpu: 1m
              memory: 8Mi
            requests:
              cpu: 1m
              memory: 8Mi
