[Unit]
Description=Jboss Application Server
After=network.target

[Service]
Type=idle
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak-22.0.1/bin/kc.sh start --hostname-strict=false --http-enabled=true --proxy=edge --hostname=ood-idp.flexi.nesi
EnvironmentFile=/etc/default/keycloak
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
