apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: {{ cluster_name }}
kubernetesVersion: {{ kube_version }}
controlPlaneEndpoint: {{ kube_apiserver_address }}:{{ kube_apiserver_port }}
certificatesDir: {{ kube_cert_dir }}
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ kube_service_addresses }}
  podSubnet: {{ kube_pods_subnet }}
apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
    anonymous-auth: "{{ kube_api_anonymous_auth }}"
    bind-address: {{ kube_apiserver_bind_address }}
    apiserver-count: "{{ kube_apiserver_count }}"
    enable-admission-plugins: NodeRestriction
{% if kube_oidc_auth | default(false) and kube_oidc_url is defined and kube_oidc_client_id is defined %}
    oidc-issuer-url: "{{ kube_oidc_url }}"
    oidc-client-id: "{{ kube_oidc_client_id }}"
{%   if kube_oidc_ca_file is defined %}
    oidc-ca-file: "{{ kube_oidc_ca_file }}"
{%   endif %}
{%   if kube_oidc_username_claim is defined %}
    oidc-username-claim: "{{ kube_oidc_username_claim }}"
{%   endif %}
{%   if kube_oidc_groups_claim is defined %}
    oidc-groups-claim: "{{ kube_oidc_groups_claim }}"
{%   endif %}
{%   if kube_oidc_username_prefix is defined %}
    oidc-username-prefix: "{{ kube_oidc_username_prefix }}"
{%   endif %}
{%   if kube_oidc_groups_prefix is defined %}
    oidc-groups-prefix: "{{ kube_oidc_groups_prefix }}"
{%   endif %}
{% endif %}
  timeoutForControlPlane: 4m0s