<IfModule mpm_event_module>
  # ServerLimit is MaxRequestWorkers / ThreadsPerChild
  ServerLimit            {{ apache_server_limit }}
  StartServers           2
  MaxRequestWorkers      {{ apache_server_limit|int * apache_threads_per_child|int }}
  MinSpareThreads        25
  MaxSpareThreads        75
  ThreadsPerChild        {{ apache_threads_per_child }}
  MaxRequestsPerChild    0
  ThreadLimit            256
  ListenBacklog          255
</IfModule>
