---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ first_kube_control_plane_address }}:{{ kube_apiserver_port }}
    token: {{ kubeadm_token }}
    unsafeSkipCAVerification: true
  timeout: {{ discovery_timeout }}
  tlsBootstrapToken: {{ kubeadm_token }}
caCertPath: {{ kube_cert_dir }}/ca.crt