# /etc/ood/config/hook.env

# required if you changed the items in the cluster.d file
K8S_USERNAME_PREFIX=""
NAMESPACE_PREFIX="{{ k8s_namespace_prefix }}"

# required
NETWORK_POLICY_ALLOW_CIDR="{{ network_policy_allow_cidr }}"

# required if you're using OIDC
IDP_ISSUER_URL="{{ kube_oidc_url }}"
CLIENT_ID="{{ kube_oidc_client_id }}"
CLIENT_SECRET="{{ kube_oidc_client_secret_id }}"

# required if you're using a secret registry
IMAGE_PULL_SECRET=""
REGISTRY_DOCKER_CONFIG_JSON="/some/path/to/docker/config.json"

# enable if are enforcing walltimes through the job pod reaper
# see 'Enforcing walltimes' below.
USE_JOB_POD_REAPER={{ use_job_pod_reaper }}